<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">MIPRM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMain">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="/consultate">Consúltate</a></li>
        <li class="nav-item"><a class="nav-link" href="/inscribete">Inscríbete</a></li>
      </ul>
      <ul class="navbar-nav" id="nav-invitado">
        <li class="nav-item"><a class="nav-link" href="/iniciar-sesion">Iniciar sesión</a></li>
      </ul>
      <ul class="navbar-nav d-none" id="nav-sesion">
        <li class="nav-item"><a class="nav-link" href="/tablero">Tablero</a></li>
        <li class="nav-item"><a class="nav-link" href="/validacion">Validación</a></li>
        <li class="nav-item d-none" id="nav-admin"><a class="nav-link" href="/panel-admin">Admin</a></li>
        <li class="nav-item"><a class="nav-link" href="#" id="btn-logout">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</nav>
